*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body
{
 min-height: 100vh;
 display: flex;
 font-family: 'Open Sans', sans-serif;
 justify-content: center;
 align-items: center;
 margin:0;
 background: black;
 background-image: url('https://source.unsplash.com/1600x900/?landscape');
 font-size: 120%;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}
.card{
    width: 100%;
    max-width: 420px;
    margin: 1 em;
    border-radius: 30px;
    background: #000000d0;
    color: wheat;
    padding: 2em;
 
}

.flex{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
 align-items: center;
}

.description{
    text-transform: capitalize;
    margin-left:8px;
}

.icon{
    
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(79, 79, 78);
    color: wheat;
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-120px);
}
button{
    outline: none;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 44px;
    height: 44px;
    color: wheat;
    background: rgb(79, 79, 78);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: rgb(113, 113, 112);
    color: rgb(19, 19, 18);
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading::after {
    visibility: visible;
    content: "loading ...";
    color: white;
    position: absolute;
    top:0;
}